@charset "UTF-8";
/* @import url(reset.css); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');


/* 레이아웃 */
#header{
	position: fixed;
  left: 0; top: 0; right: 0; 
	border-bottom: 1px solid #ccc;
	background: #fff; z-index: 500;
}
#banner{position: relative;}
#movie{background: #f2f2f2;}
#event{}
#opening{
	margin: 24px 0;
	background: url(../img/bg01.jpg)no-repeat center top;
	background-size: cover;
}
#new{}
#help{}
#footer{background: #211f1f;}

/* 가운데영역 */
.container{
	width: 1280px; margin: 0 auto;
}


/* row 영역 */
.row{padding: 0 16px;}

/* 모바일메뉴 */
#mNav{
	position: absolute; display: none;
	top: 23px; right: 0;
}
.ham{width: 25px; height: 4px;}
.ham span{
	position: relative; display: block;
	width: 25px; height: 4px;
	background: #39106a;
}
.ham span::before{
	position: absolute;
	content: "";
	width: 25px; height: 4px; left: 0; top: -7px;
	background: #39106a;
}
.ham span::after{
	position: absolute;
	content: "";
	width: 25px; height: 4px; left: 0; top: 7px;
	background: #39106a;
}


/* ------header------ */
.header{position: relative;}
.header h1{float: left;}
.header h1 a{}
.header h1 a em{
	display: inline-block; /* padding적용을 위해 */
	padding: 8px 8px 3px 0;
}
.header h1 a em img{width: 155px;}
.header h1 a strong{
	position: absolute;
	left: 170px; top: 14px;
}
.header h1 a strong img{width: 157px;}

.header .nav{float: right;}
.header .nav ul{border-left: 1px solid #ccc;}
.header .nav ul li{
	float: left;
	border-right: 1px solid #ccc;
}
.header .nav ul li a{
	display: block;
  padding: 14px 10px;
	font-size: 15px; font-weight: 700;
	color: #444;
}


/* ------banner------ */
.banner_menu{
	position: absolute;
	left: 0; top: 15px;
	width: 100%; z-index: 10;
}
.banner_menu .line{position: relative;}
.banner_menu .line::after{
	content: ""; width: 1px; height: 14px;
	background: #fff;
	position: absolute;
	right: -18px; top: 2px;
}
.banner_menu a{
	font-size: 16px; color: #fff;
	transition: .3s;
}
.banner_menu a:hover{color: #38116a;}

/* bm_left */
.banner_menu .bm_left{
	float: left;
}
.banner_menu .bm_left ul{padding-top: 6px;}
.banner_menu .bm_left ul li{
	display: inline;
	margin-right: 30px;
}
.banner_menu .bm_left ul li a{}
.banner_menu .bm_left ul li.total a{
	font-size: 14px;
	border: 1px solid #ccc;
	/* 부모가 inline --> 자식은 inline-block이어야 다시 한 줄 차지 안하면서 패딩(위아래) 적용 가능 */
	display: inline-block; 
	padding: 3px 10px;
}
.banner_menu .bm_left ul li.total a:hover{
	color: #000; background: #fff;
	border-color: #000;
}

/* bm_right */
.banner_menu .bm_right{float: right;}
.banner_menu .bm_right .line{margin-right: 30px;}
.banner_menu .bm_right ul{float: left;}
.banner_menu .bm_right ul:first-child{padding-top: 7px;}
.banner_menu .bm_right ul li{
	display: inline;
	margin-right: 20px;
}
.banner_menu .bm_right ul li.white{margin-right: 10px;}
.banner_menu .bm_right ul li.white a{
	display: inline-block;
	width: 142px; border: 1px solid #6e40c4;
	color: #3a0e6a; background: #fff;
	text-align: center; padding: 7px 0;
}
.banner_menu .bm_right ul li.purple{margin-right: 0;}
.banner_menu .bm_right ul li.purple a{
	display: inline-block;
	width: 142px; border: 1px solid #6e40c4;
	background: #3a0e6a; color: #fff;
	text-align: center; padding: 7px 0;
}

/* slider */
.slider{margin-top: 51px;}
.slider .swiper-slide{padding-bottom: 560px;}
.slider .ss1{
	background: url(../img/Witch_1920774.jpg)no-repeat center;
	background-size: cover;
}
.slider .ss2{
	background: url(../img/Jokuk_1920774.jpg)no-repeat center;
	background-size: cover;
}
.slider .ss3{
	background: url(../img/Apu_1920774.jpg)no-repeat center;
	background-size: cover;
}

.slider .swiper-button-prev, 
.slider .swiper-button-next{color: #fff;}

.slider .swiper-pagination-bullet{
	background: rgba(255, 255, 255, .5);
	width: 13px; height: 13px;
}
.slider .swiper-pagination-bullet-active{
	background: #fff;
}

/* ------movie------ */
.movie{padding: 100px 0; overflow: hidden;}
.movie .movie_title{margin-bottom: 60px;}
.movie .movie_title ul{
	width: 850px; margin: 0 auto;
}
.movie .movie_title ul li{
	float: left;
	width: 210px;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	text-align: center;
	margin-right: -1px;
}
.movie .movie_title ul li a{
	display: block;
	padding: 15px 0; font-size: 18px;
	color: #666; font-weight: 700;
}
.movie .movie_title ul li.active a{
	background: #555; color: #fff;
}

.movie .movie_title ul li.bar{display: none;}

/* movie_chart */
.movie_chart{}
.movie_chart .swiper-slide{}
.movie_chart .swiper-slide .poster{
	position: relative;
}
.movie_chart .swiper-slide .poster figure{}
.movie_chart .swiper-slide .poster figure img{
	display: block;
}
.movie_chart .swiper-slide .poster .rank{
	position: absolute; left: 0; top: 15px;
	width: 50px; height: 50px;
	background: #38116a;
	line-height: 50px; text-align: center;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);
}
.movie_chart .swiper-slide .poster .rank strong{
	color: #fff; font-size: 20px;
	
}
.movie_chart .swiper-slide .poster .mx{
	position: absolute; right: 0; top: 20px;
}
.movie_chart .swiper-slide .poster .mx span{
	position: relative; display: block;
	width: 102px; height: 22px;
}
.movie_chart .swiper-slide .poster .mx span.m{
	background-position: 0 -77px;
}
.movie_chart .swiper-slide .poster .mx span.b{
	background-position: 0 -102px;
}

.movie_chart .swiper-slide .info{
	background: #fff;
	border: 1px solid #d9d9d9;
	padding: 17px;
}
.movie_chart .swiper-slide .info h3{
	color: #333; font-size: 30px; font-weight: 700;
	overflow: hidden; text-overflow: ellipsis;
	white-space: nowrap;
}
.movie_chart .swiper-slide .info h3 span{
	width: 28px; height: 28px;
	display: inline-block; position: relative;
}
.movie_chart .swiper-slide .info h3 span.all{
	background-position: -87px -125px;
	top: 3px;
}
.movie_chart .swiper-slide .info h3 span.a19{
	background-position: -58px -125px;
	top: 3px;
}
.movie_chart .swiper-slide .info h3 span.a15{
	background-position: -29px -125px;
	top: 3px;
}
.movie_chart .swiper-slide .info h3 span.a12{
	background-position: 0px -125px;
	top: 3px;
}
.movie_chart .swiper-slide .info h3 strong{
	padding-left: 7px;
}
.movie_chart .swiper-slide .info_btn{
	overflow: hidden; /* clearfix대신 */
}
.movie_chart .swiper-slide .info_btn a{
	float: left; width: 49%;
	background: #f2f2f2;
	font-size: 18px; text-align: center;
	padding: 10px 0; margin-right: 2%;
}
.movie_chart .swiper-slide .info_btn a:last-child{
	margin-right: 0;
}


/* ------event------ */
.event{padding: 100px 0;}
.event h2{
	font-size: 30px; font-weight: 500;
	margin-bottom: 20px;
}
.event img{display: block;}
.event .event_left{
	float: left;
	width: 66%; margin-right: 2%;
}
.event .event_left .event_slide{}
.event .event_left .event_box1{float: left; width: 50%;}
.event .event_left .event_box2{float: left; width: 50%;}

.event .event_right{float: left; width: 32%;}


/* ------opening------ */
.opening{padding: 100px 0; text-align: center;}
.opening h2{
	margin-bottom: 15px;
}
.opening h2 .grand{
	display: inline-block;
	width: 330px; height: 45px;
	position: relative; /* ir의 position: absolute; 풀기 */
	background-position: 0px -176px;
}
.opening strong.date{
	position: relative;
	display: inline-block;
	width: 258px; height: 30px;
	background-position: 0 -226px;
}
.opening .desc{
	color: #bb9651; font-size: 35px;
	background: url(../img/bar.png)no-repeat center bottom;
	background-size: 100%;
	padding-bottom: 20px;
}

.opening .open_box{}
.opening .open_box div{
	float: left; width: 27.3333%;
	margin: 4% 3% 0; background: rgba(0, 0, 0, 0.5);
	border: 1px solid #3e4b44;
	box-sizing: border-box;
}
.opening .open_box div h3{
	display: inline-block;
	color: #fff; background: #551e96;
	font-size: 19px; padding: 10px 20px;
	margin: -10px;
}
.opening .open_box div p{
	color: #fff; 
	font-size: 27px; font-weight: 300px;
	padding: 6% 0 10%;
}
.opening .open_box div p em{display: block;}
.opening .open_box div p strong{display: block;}


/* ------new------ */
.new{position: relative; padding: 100px 0;}
.new h2{font-size: 30px; font-weight: 500; margin-bottom: 20px;}
.new .new_left{
	position: relative;
	height: 500px;
	background: url(../img/new01.jpg)no-repeat center;
	background-size: cover;
	margin-right: 423px;
}
.new .new_left .play{
	position: absolute;
	width: 150px; height: 150px;
	left: 50%; top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.new .new_right{
	position: absolute;
	right: 0; top: 165px;
	width: 400px; height: 500px;
	background: #f0f0f0;
	padding: 34px; box-sizing: border-box;
}
.new .new_right .title{
	font-size: 28px; color: #000;
}
.new .new_right .release{font-size: 15px; color: #333;}
.new .new_right .star{
	padding: 13px 0;
}
.new .new_right .star span{
	display: inline-block;
	width: 19px; height: 19px;
	vertical-align: -4px;
}
.new .new_right .star .star1{
	background-position: -394px 0px;
}
.new .new_right .star .star2{
	background-position: -413px 0px;
}
.new .new_right .star .star0{
	background-position: -375px 0px;
}
.new .new_right .star strong{
	font-size: 18px; padding-left: 5px;
}

.new .new_right .summary{font-size: 14px;}
.new .new_right .summary li{}
.new .new_right .summary li.gener{padding-bottom: 3px;}
.new .new_right .summary li.age{padding-bottom: 10px;}
.new .new_right .summary li.desc{height: 102px; overflow: hidden; margin-bottom: 20px;}

.new .new_right .select{}
.new .new_right .select .s1{float: left; width: 49%; margin-right: 2%;}
.new .new_right .select .s2{float: left; width: 49%;}
.new .new_right .select .s3{float: left; width: 100%; margin-top: 2%;
/* padding, margin의 %의 기준은 부모의 '넓이' (높이X) */}
.new .new_right .select .s3 input::placeholder{color: #ccc;}
.new .new_right .select .s3 input::-webkit-input-placeholder{color: #ccc;}
.new .new_right .select .s3 input:-moz-placeholder{color: #ccc;}
.new .new_right .select .s3 input::-ms-input-placeholder{color: #ccc;}

.new .new_right .btn{margin-top: 2%;}
.new .new_right .btn a{
	float: left; width: 49%; box-sizing: border-box;
	padding: 10px 30px 12px; text-align: center;
}
.new .new_right .btn .white{
	background: #fff; color: #3a0e6a;
	border: 1px solid #fff;
	margin-right: 2%;
}
.new .new_right .btn .purple{
	background: #3a0e6a; color: #fff;
	border: 1px solid #6e49c4;
}


/* ------help------ */
.help{padding-bottom: 100px;}
.help article{float: left; width: 32%; margin-right: 2%;}
.help article.help_box3{margin-right: 0;}
.help article h3{font-size: 30px; font-weight: 500; margin-bottom: 20px;}
.help article>div{height: 350px; border: 1px solid #dbdbdb;}
.help article.help_box3>div{border: none;}


/* ------notice------ */
.notice{padding: 17px; position: relative;}
.notice ul{}
.notice ul li{float: left; text-align: center; margin-right: -1px;}
.notice ul li a{
	display: block; width: 80px; font-size: 15px;
	border: 1px solid #dbdbdb;
	background: #f5f5f5;
}
.notice ul li.active a{background: #fff;}
.notice ul li ul{
	position: absolute; 
	left: 17px; top: 50px;
	width: 90%;
}
.notice ul li ul li{
	width: 100%;
	text-align: left;
	border-bottom: 1px solid #dbdbdb;
	padding: 17px; box-sizing: border-box;
}
.notice ul li ul li dd{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card{padding: 17px;}
.card ul{}
.card ul li{
	position: relative; 
	padding: 17px; border: 1px solid #dbdbdb;
	box-sizing: border-box; height: 105px;
	margin-bottom: 17px;
	
}
.card ul li a{}
.card ul li a span{
	position: absolute;
	left: 17px; top: 17px;
}
.card ul li a span img{width: 115px;}
.card ul li a strong{padding-left: 130px; font-size: 16px; color: #666;}
.card ul li a em{display: block; padding-left: 130px; font-size: 14px;}


/* 고객센터 */
.service{}
.service ul{}
.service ul li{
	float: left;
	width: 50%; height: 193px;
	border: 1px solid #dbdbdb;
	box-sizing: border-box;
	text-align: center;
}
.service ul li:nth-child(1){
	border-right: none; border-bottom: none;
}
.service ul li:nth-child(2){border-bottom: none;}
.service ul li:nth-child(3){border-right: none;}
.service ul li a{}
.service ul li a span{
	display: block; 
	width: 120px; height: 120px;
	margin: 20px auto;
}
.service ul li a span svg{}
.service ul li a strong{}


/* ------footer------ */
#footer_sns .container{position: relative;}
.footer_sns{position: absolute; right: 16px; top: 30px;}
.footer_sns ul{}
.footer_sns ul li{
	width: 36px; height: 36px;
	display: inline-block;
	margin-right: 4px;
}
.footer_sns ul li.s1{background-position: 0 -375px;}
.footer_sns ul li.s2{background-position: -36px -375px;}
.footer_sns ul li.s3{background-position: -72px -375px;}
.footer_sns ul li.s4{background-position: -108px -375px;}
.footer_sns ul li.s5{background-position: -144px -375px;}
.footer_sns ul li.s1:hover{background-position: 0 -411px;}
.footer_sns ul li.s2:hover{background-position: -36px -411px;}
.footer_sns ul li.s3:hover{background-position: -72px -411px;}
.footer_sns ul li.s4:hover{background-position: -108px -411px;}
.footer_sns ul li.s5:hover{background-position: -144px -411px;}
.footer_sns ul li a{}
.footer_sns ul li a span{}

.footer_sns .tel{}
.footer_sns .tel a{color: #8f8f8f; font-size: 12px;}
.footer_sns .tel a em{color: #fff;}

.footer_info{padding: 15px 0;}
.footer_info h2{}
.footer_info h2 img{width: 120px;}
.footer_info ul{}
.footer_info ul li{
	display: inline-block; 
	padding-right: 16px;
	position: relative;
}
.footer_info ul li::after{
	content: ""; width: 1px; height: 11px;
	background: #8f8f8f; position: absolute;
	right: 5px; top: 5px;
}
.footer_info ul li:last-child::after{width: 0; height: 0;}
.footer_info ul li a{color: #8f8f8f;}

.footer_info address{color: #8f8f8f;}
.footer_info address p{}
.footer_info address p span{}




/* ---------트레일러--------- */
.overlay{
	display: none;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background: rgba(0,0,0,0.92); z-index: 600;
}
.overlay .modal{position: absolute;}
.overlay .modal_close{
	position: absolute;
	right: 24px; top: 24px;
	width: 32px; height: 32px;
	background: url(../img/close.svg)no-repeat;
	background-size: 30px;
	text-indent: -9999em; font-size: 0;
}	












/* -------------반응형------------- */
@media(max-width:1290px){
	.container{width: 100%;}
	.header .nav ul li:last-child{border-right: 0;}
}

@media(max-width:1024px){
	.header h1 a em{padding: 11px 11px 3px 0;}
	.header h1 a em img{width: 135px;}
	.header h1 a strong {left: 150px; top: 18px;}

	.help article.help_box1{width: 49%;}
	.help article.help_box2{width: 49%; margin-right: 0;}
	.help article.help_box3{width: 100%; margin-top: 2%;}
	.help article.help_box3 h3{
		position: absolute; overflow: hidden;
		width: 0; top: 0; text-indent: -9999em;
	}
  .service ul li{width: 25%; height: auto; border: none;}
	.help article.help_box3>div{border: 1px solid #dbdbdb; height: auto;}
}


@media(max-width:960px){
	.header .nav{display: none;}
	.header h1{float: none; text-align: center;}
	.header h1 a strong{left: 0px;}
	#mNav{display: block;}
	.slider {margin-top: 46px;}
	.banner_menu .bm_left{display: none;}
	.banner_menu .bm_right ul:first-child{display: none;}

	.movie .movie_title ul{width: auto;}
	.movie .movie_title ul li{width: 25%;}

	.event{padding: 50px 0;}

	.opening{padding: 50px 0;}
	.opening .open_box{display: none;}
	.opening .desc{background: none; font-size: 24px;}

	.new{padding: 50px 0;}
	.new .new_left{margin-right: 0; height: 400px;}
	.new .new_right{position: relative; width: 100%; height: auto; top: 0;}
	.new .new_right .summary li.desc{height: auto;}
	.help{padding-bottom: 50px;}

	.footer_sns{
		position: static;/* position 없는 것 */
		text-align: center; background: #352c2c; 
		padding: 15px;
	} 
	.footer_sns .tel{display: none;}

	.footer_info{text-align: center;}
}

@media(max-width:768px){
	body{background: #d9d7e0;}
	.slider .swiper-slide{padding-bottom: 56.25%;}

	#movie{background: transparent;}
	#movie .row{
		background: #fff;
		margin: 24px; padding: 24px;
	}
	#movie .row>.ir{
		position: static; /* 아무것도 없는거 */
		width: auto; height: auto;
		line-height: normal;
		text-indent: 0px;
		font-size: 24px; font-weight: 700;
		padding-bottom: 20px;
	}
	.movie{padding: 0;}
	.movie .movie_title {margin-bottom: 30px;}
	.movie .movie_title ul{
		position: relative;
		padding-bottom: 10px;
	}
	.movie .movie_title ul::before{
		position: absolute; left: 0; bottom: 0; 
		width: 100%; height: 2px;
		background: #e1e1e1;
	}
	.movie .movie_title ul li{width: auto; border: 0;}
	.movie .movie_title ul li a{
    padding: 0; color: #666;
		font-size: 16px; font-weight: 400;
    margin-right: 35px;
	}
	.movie .movie_title ul li.active a{
    background: none; color: #666;
	}
	.movie .movie_title ul li.bar{
		display: block; position: absolute;
		bottom: 0; left: 0; width: 75px; height: 2px;
		background: #999;
		transition: .3s; opacity: 0;
	}
	.movie .movie_title ul li:nth-child(1).active ~.bar{left: 0; opacity: 1;}
	.movie .movie_title ul li:nth-child(2).active ~.bar{left: 105px; opacity: 1;}
	.movie .movie_title ul li:nth-child(3).active ~.bar{left: 215px; opacity: 1;}
	.movie .movie_title ul li:nth-child(4).active ~.bar{left: 315px; opacity: 1;}




	#event .row{padding: 0 24px;}
	.event{background: #fff; padding: 24px;}
	.event h2{
    font-size: 24px; font-weight: 700;
    margin-bottom: 10px;
	}
	.event .event_left{width: 100%; margin-right: 0;}
	.event .event_right{display: none;}

	.opening .desc{font-size: 20px;}

	
	#new .row{padding: 0 24px;}
	.new {padding: 24px;background: #fff;}
	.new h2 {font-size: 24px; font-weight: 700; color: #000;}
	
	#help .row{padding: 0px 24px;}
	.help {padding-bottom: 24px;}
	.help article.help_box1{
    background: #fff; width: 100%;
    padding: 24px; margin-top: 24px;
    box-sizing: border-box;
  }
	.help article.help_box2{
		background: #fff; width: 100%;
    padding: 24px; margin-top: 24px;
    box-sizing: border-box;
	}
	.help article.help_box3{
		background: #fff;
		margin-top: 24px;
	}
	.help article h3{
		font-size: 24px; font-weight: 700;
		margin-bottom: 10px;
	}
	.help article.help_box3>div{border: 0;}
}

@media(max-width:600px){
	.header h1 a strong{display: none;}
	.header h1{text-align: left;}
	.banner_menu .bm_right ul li.white a{
    width: 92px; font-size: 14px;
    background: rgba(0,0,0,0.6); color: #fff;
    border-color: #fff; padding: 4px 0;
	}
	.banner_menu .bm_right ul li.purple a{
    width: 92px; font-size: 14px;
    background: rgba(0,0,0,0.6); color: #fff;
		border-color: #fff; padding: 4px 0;
	}
	#movie .container{position: relative;}
	#movie .container::after{
		content: ""; position: absolute;
		top: 0; right: 0; width: 8px; height: 100%;
		background: #d9d7e0;
	}
	#movie .row{
		margin: 8px; padding: 16px;
		margin-right: 0; padding-right: 0;
	}
	#movie .row::after{
		content: ""; position: absolute;
		top: 0; right: 0; width: 24px; height: 100%;
		background: #fff;
	}
	#movie .row>.ir{font-size: 18px; padding-bottom: 10px;}
	.movie .movie_title{margin-bottom: 20px;}
	.movie .movie_title ul li a{font-size: 14px; margin-right: 5px;}
	.movie .movie_title ul li.bar{width: 65px;}
	.movie .movie_title ul li:nth-child(2).active ~.bar{left: 68px;}
	.movie .movie_title ul li:nth-child(3).active ~.bar{left: 136px;}
	.movie .movie_title ul li:nth-child(4).active ~.bar{left: 198px;}


	.swiper-button-prev:after, .swiper-button-next:after{
		font-size: 8vw;
	}
	
	#event .row{padding: 0 8px;}
	.event{padding: 16px;}
	.event h2{font-size: 18px;}

	#opening{margin: 8px 0;}
	.opening{padding: 20px 0;}
	.opening strong.date{display: none;}
	.opening h2 .grand{
		width: 130px; height: 26px;
		background-position: 0px -63px;
    background-size: 200px;
	}
	.opening .desc{font-size: 16px;}

	
	#new .row{padding: 0px 8px;}
	.new{padding: 16px;}
	.new h2 {font-size: 18px; margin-bottom: 10px;}
	.new .new_left{height: 200px;}
	.new .new_left .play{width: 80px;}
	.new .new_right{padding: 17px;}
	.new .new_right .title{font-size: 22px;}
	.new .new_right .star{padding: 9px 0;}
	.new .new_right .select .s1{width: 100%; margin-right: 0; margin-bottom: 2%;}
	.new .new_right .select .s2{width: 100%;}

	#help .row{padding: 0 8px;}
	.help article.help_box1{padding: 16px; margin-top: 8px;}
	.help article.help_box2{padding: 16px; margin-top: 8px;}
	.help article.help_box3{margin-top: 8px;}
	.help article h3{font-size: 18px; margin-bottom: 0;}
	.service ul li{width: 50%;}

	.footer_info{padding: 25px 0;}
	.footer_info address br{display: none;}
}

@media(max-width:480px){
	.card ul li a span img{width: 100px;}
	.card ul li a strong{padding-left: 105px; font-size: 12px;}
	.card ul li a em{padding-left: 105px; font-size: 10px;}
}
@media(max-width:320px){
	.new .new_right .btn{font-size: 12px;}
}